/* Globale styling voor de Familiekalender */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF1E6;
    box-sizing: border-box;
}

/* Reset van de root container */
#root {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}