/* Globale styling voor de Familiekalender */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF1E6;
}

/* Reset van de root container */
#root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}